@{
    <!DOCTYPE html>
    <html>

    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>

    <body class="centrer">
        <h1 class="centrer">Bienvenu dans votre espace MedManager</h1>

        <p class="centrer">Vous trouverez si dessous les statistiques interessantes du moment !  </p>
    </body>

    </html>
}
