@model AllergieAddViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajout allergie</title>
</head>

<body>
    <h1> Bienvenue dans l'espace pour ajouter une allergie </h1>

    <form asp-action="AddConfirmed" asp-controller="Allergie" method="post">

        <input asp-for="Allergie.AllergieId" type="hidden" value="0" />

        <div class="form-group">

            Nom de la nouvelle allergie
            <input asp-for="Allergie.Nom_Allergie" class="form-control" />

            <span asp-validation-for="Allergie.Nom_Allergie" class="text-danger"></span>
        </div>

        <div> Médicaments à proscrire </div>
        <div class="form-group" class="centrer">

            @foreach (var medicament in Model.Medicaments)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="SelectedMedicamentIds"
                        value="@medicament.MedicamentId" @(Model.SelectedMedicamentIds != null &&
                    Model.SelectedMedicamentIds.Contains(medicament.MedicamentId) ? "checked" : "") />

                    <label class="form-check-label">@medicament.Nom_med</label>

                </div>
            }
        </div>

        <br />
        <br />

        <input type="submit" value="Créer une nouvelle allergie" class="btn btn-primary" />
        <a asp-action="Index" type="button" class="btn btn-secondary">Retour</a> 
    </form>

    @* Permet de visualiser le resume de l'ensemble des erreurs de validation, ceci est un tag helper *@
    <div asp-validation-summary="All" class="text-danger"></div>

</body>

</html>